 @using Application.Common.Dtos.SpendDtos;
@{
    Layout = "_UserLayout";
}
@model AddSpendDto
@{
    List<Domain.Entities.SpendType>? spendTypes = (List<Domain.Entities.SpendType>)ViewData["SpendTypes"]!;
}
<style>
    form {
        background-color: #fff;
        max-width: 670px;
        margin: 50px auto;
        padding: 30px 20px;
        box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    }

    .form-control {
        text-align: left;
        margin-bottom: 25px;
    }

        .form-control label {
            display: block;
            margin-bottom: 10px;
        }

        .form-control input,
        .form-control select,
        .form-control textarea {
            border: 1px solid #777;
            border-radius: 2px;
            font-family: inherit;
            padding: 10px;
            display: block;
            width: 95%;
        }

            .form-control input[type="radio"],
            .form-control input[type="checkbox"] {
                display: inline-block;
                width: auto;
            }
</style>

<!-- Create Form -->
<form id="form" asp-action="AddSpend" method="post">

    <!-- Details -->
    <div class="form-control">
        <label for="Price" id="Price">
            Сумма
        </label>
      
        <!-- Input Type Text -->
        <input type="number" id="Price" name="Price"
               placeholder="Чиқим суммасини киритинг..." />
        <span asp-validation-for="Price"></span>
    </div>
    <div class="form-control">
        <label for="SpendTypeId" id="SpendTypeId">
            Чиқим тури
        </label>

        <!-- Dropdown options -->
        <select name="SpendTypeId" id="SpendTypeId">
            @{
                if (spendTypes is null)
                {
                    <option value="@null">Бошка харажатлар</option>
                }
                else
                {
                    foreach (var outType in spendTypes)
                    {
                        <option value="@outType.Id">@outType.Name</option>
                    }
                }
            }

        </select>
        <span asp-validation-for="SpendTypeId"></span>
    </div>
    <div class="form-control">
        <label for="comment">
            Чиқим сабаби
        </label>

        <!-- multi-line text input control -->
        <textarea name="Reason" id="Reason"
                  placeholder="Чиқим сабабини киритинг..."></textarea>
        <span asp-validation-for="Reason"></span>
    </div>

    <!-- Multi-line Text Input Control -->
    <button type="submit" style="    background-color: #05c46b;
        border: 1px solid #777;
        border-radius: 2px;
        font-family: inherit;
        font-size: 21px;
        display: block;
        width: 40%;
        margin-top: 50px;
        margin-bottom: 20px;">
        Сақлаш
    </button>
</form>
