@{
    Layout = "_UserLayout";
}
<div class="row py-2">
    <div class="col-12 col-sm-2 col-md-3">
    </div>
    <div class="col-12 col-sm-8 col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center text-primary py-3">Янги чиқим қу́шиш</h4>
                <div class=" d-flex justify-content-center">
                    <a asp-action="AddSpend" asp-controller="Spend" class="btn btn-primary mx-3 px-5 my-2"><h4>Кириш</h4></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-2 col-md-3">
    </div>
</div>
<div class="row py-2">
    <div class="col-12 col-sm-2 col-md-3">
    </div>
    <div class="col-12 col-sm-8 col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center text-success py-3">Тасдиқланган чиқимлар</h4>
                <div class=" d-flex justify-content-center">
                    <a asp-action="GetAllConfirmed" asp-controller="Spend" class="btn btn-success mx-3 px-5 my-2"><h4>Кириш</h4></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-2 col-md-3">
    </div>
</div>
<div class="row py-2">
    <div class="col-12 col-sm-2 col-md-3">
    </div>
    <div class="col-12 col-sm-8 col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center text-danger py-3">Тасдиқланмаган чиқимлар</h4>
                <div class=" d-flex justify-content-center">
                    <a asp-action="GetAllNoConfirmed" asp-controller="Spend" class="btn btn-danger mx-3 px-5 my-2"><h4>Кириш</h4></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-2 col-md-3">
    </div>
</div>


