@using WebUI.Models;
@{
    Layout = "_AdminLayout";
}
@model AddFile
@{
    if (ViewData["result"] is not null)
    {
        if ((int)ViewData["result"]! > 0)
        {
            <div class="row">
                <div class="col">
                </div>
                <div class="col-8 mt-3">
                    <h3 style="background-color: rgb(132, 253, 184);" class="shadow rounded text-center py-3" id="HtmlTeg">
                        Маьлумотлар муваффақиятли қўшилди
                    </h3>
                </div>
                <div class="col"></div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col">
                </div>
                <div class="col-8 mt-3">
                    <h3 style="background-color: rgb(252, 113, 109);" class="shadow  rounded text-center py-3" id="HtmlTeg">
                        Маьлумотлар қўшилмади
                    </h3>
                </div>
                <div class="col"></div>
            </div>
        }
    }
}
<style>
    /* Styling the Form (Color, Padding, Shadow) */
    form {
        background-color: #fff;
        max-width: 670px;
        margin: 30px auto;
        padding: 30px 20px;
        box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    }

    /* Styling form-control Class */
    .form-control {
        text-align: left;
        margin-bottom: 25px;
    }

        /* Styling form-control Label */
        .form-control label {
            display: block;
            margin-bottom: 10px;
        }

        /* Styling form-control input,
                                select, textarea */
        .form-control input,
        .form-control select,
        .form-control textarea {
            border: 1px solid #777;
            border-radius: 2px;
            font-family: inherit;
            padding: 10px;
            display: block;
            width: 95%;
        }

            /* Styling form-control Radio
                                button and Checkbox */
            .form-control input[type="radio"],
            .form-control input[type="checkbox"] {
                display: inline-block;
                width: auto;
            }
</style>
<form id="form" asp-action="AddFile" enctype="multipart/form-data" method="post">
    <h3 class="mx-2" id="demo"></h3>

    <div class="form-control">
        <label for="Name" id="Name">
            Объект номи
        </label>

        <input type="text" name="Name" id="Name" 
               placeholder="Объект номини киритинг..." />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="form-control">
        <label for="FormFile">
            Хужжат файли 
        </label>
        <input type="file" name="FormFile" id="FormFile"
               placeholder="Хужжат файлини киритинг..." />
        <span class="text-danger" asp-validation-for="FormFile"></span>
    </div>
    <div class="form-control">
        <label for="Description">
            Файл хақида маълумот
        </label>

        <!-- multi-line text input control -->
        <textarea name="Description" id="Description"
                  placeholder="Файл хақида маълумот киритинг..."></textarea>
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>
    <div class="row">
      
        <div class="col d-flex justify-content-center">
            <button type="submit" class="btn btn-success my-4 px-5">
                Сақлаш
            </button>
        </div>
        <div class="col d-flex justify-content-center">
            <a asp-action="GetAllFile" asp-controller="Document" class="btn btn-primary my-4 px-5">Орқага</a>
        </div>
        <div class="col-1"></div>
    </div>
</form>
<script>
    const myInterval = setInterval(myTimer);

    function myTimer() {
        const date = new Date();
        document.getElementById("demo").innerHTML = date.toLocaleTimeString();
    }
</script>