@using Application.Common.Dtos.ConstructionDtos
 @using Application.Common.Dtos.SpendDtos;
@{
    Layout = "_AdminLayout";
}
@model AddConstructionDto;
@{
    List<Domain.Entities.User>? users = (List<Domain.Entities.User>)ViewData["users"]!;
}
<style>
    form {
        background-color: #fff;
        max-width: 670px;
        margin: 50px auto;
        padding: 30px 20px;
        box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    }

    .form-control {
        text-align: left;
        margin-bottom: 25px;
    }

        .form-control label {
            display: block;
            margin-bottom: 10px;
        }

        .form-control input,
        .form-control select,
        .form-control textarea {
            border: 1px solid #777;
            border-radius: 2px;
            font-family: inherit;
            padding: 10px;
            display: block;
            width: 95%;
        }

            .form-control input[type="radio"],
            .form-control input[type="checkbox"] {
                display: inline-block;
                width: auto;
            }

</style>

<!-- Create Form -->
<form id="form" asp-action="AddConstruction" method="post">

    <!-- Details -->
    <div class="form-control">
        <label for="FullName" id="FullName">
            Объект номи
        </label>

        <!-- Input Type Text -->
        <input type="text" id="FullName" name="FullName"
               placeholder="Объект номини киритинг..." />
        <span asp-validation-for="FullName"></span>
    </div>
    <div class="form-control">
        <label for="ContractPrice" id="ContractPrice">
            ContractPrice
        </label>

        <!-- Input Type Text -->
        <input type="number" id="ContractPrice" name="ContractPrice"
               placeholder="ContractPrice киритинг..." />
        <span asp-validation-for="ContractPrice"></span>
    </div>
    <div class="form-control">
        <label for="UserId" id="UserId">
            Объект учун масъул шахс
        </label>
        <!-- Dropdown options -->
        <select name="UserId" id="UserId">
            @{
                if (users is null)
                {
                    <option value="@null">Фойдаланувчи мавжуд эмас</option>
                }
              else  if (users.ToList().Count==0)
                {
                    <option value="@null">Фойдаланувчи мавжуд эмас</option>
                }
                else
                {
                    foreach (var item in users)
                    {
                        <option value="@item.Id">@item.FullName</option>
                    }
                }
            }
        </select>
        <span asp-validation-for="UserId"></span>
    </div>
    <div class="form-control">
        <label for="Description">
            Объект хакида маълумот
        </label>

        <!-- multi-line text input control -->
        <textarea name="Description" id="Description"
                  placeholder="Объект хакида маълумот киритинг..."></textarea>
    </div>

    <!-- Multi-line Text Input Control -->
    <button type="submit" style="    background-color: #05c46b;
        border: 1px solid #777;
        border-radius: 2px;
        font-family: inherit;
        font-size: 21px;
        display: block;
        width: 40%;
        margin-top: 50px;
        margin-bottom: 20px;">
        Сақлаш
    </button>
</form>
