@using Domain.Entities
@{
    Layout = "_AdminLayout";
}
@model List<Construction>;
<div class="row pt-3 pb-2">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8 ">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title py-3 mx-4">Янги объект қу́шиш</h4>
                <a asp-action="AddConstruction" asp-controller="Construction" class="btn btn-info px-5 mx-4 my-2"><h4>Кириш</h4></a>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
    </div>
</div>
@{
    if(Model is not null)
    {
        foreach (var item in Model)
        {
            <div class="row pt-3 pb-2">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-8 ">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title py-3 mx-4">@item.FullName</h4>
                            <div class="row">
                            <div class="col-7">
                                    <a asp-route-constructionId="@item.Id" asp-controller="Construction" asp-action="Choose" class="btn btn-success px-5 mx-4 my-2"><h4 class="mx-2">Кириш</h4></a>
                            </div>
                                <div class="col ">
                                    <h5 class="mt-5 text-end"> @item.User.FullName</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                </div>
            </div>
        }
    }

}

