@using Domain.Entities
@{
    Layout = "_AdminLayout";
}
@model List<Construction>;
<br />
<div class="row pt-3 pb-2">
    <div class="col-sm-4 my-3 ">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title py-3 mx-4">Янги объект қу́шиш</h4>
                <a asp-action="AddConstruction" asp-controller="Construction" class="btn btn-outline-info px-5 mx-4 my-2"><h4>Кириш</h4></a>
                <h5 class="mt-1 text-end">--------</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-4 my-3 ">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title py-3 mx-4"> Умумий маьлумотлар</h4>
                <a asp-action="GetAllDetails" asp-controller="Construction" class="btn btn-outline-warning px-5 mx-4 my-2"><h4>Кириш</h4></a>
                <h5 class="mt-1 text-end">--------</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-4  my-3 ">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title py-3 mx-4">Асосий касса</h4>
                <a asp-action="GetAllPersonalSpend" asp-controller="Spend" class="btn btn-outline-danger px-5 mx-4 my-2"><h4>Кириш</h4></a>
                <h5 class="mt-1 text-end">--------</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-4 my-3  ">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title py-3 mx-4">Таминотчи</h4>
                <a asp-action="GetAllFactory" asp-controller="Factory" class="btn  btn-outline-dark px-5 mx-4 my-2"><h4>Кириш</h4></a>
                <h5 class="mt-1 text-end">--------</h5>
            </div>
        </div>
    </div>
    @{
        if (Model is not null)
        {
            @for (int i = 0; i < Model.Count; i ++)
            {
                <div class="col-sm-4  my-3 ">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title py-3 mx-4">@Model[i].FullName</h4>
                            <a asp-route-constructionId="@Model[i].Id" asp-controller="Construction" asp-action="Choose" class="btn btn-outline-success px-5 mx-4 my-2"><h4 class="mx-2">Кириш</h4></a>
                            <h5 class="mt-1 text-end"> @Model[i].User.FullName</h5>
                        </div>
                    </div>
                </div>
            }
        }
    }
</div>
