@using Domain.Entities;
@{
    Layout = "_UserLayout";
}
@model Construction;
@{
    if (Model is not null)
    {
        <div class="card my-5 text-center">
            <div class="card-header">
                <h4>Охирги қирим қилинган вақти</h4>
                <h4>@Model.InDate.ToString("HH:mm dd.MM.yyyy")</h4>
            </div>
            <div class="card-body">
                <h2 class="card-title">Умумий қолган сумма‌‌</h2>
                <h1 id="formattedNumber">@Model.User.Residual</h1>
            </div>
            <div class="card-footer">
                <h4>Охирги чиқим қилинган вақти</h4>
                <h4>@Model.SpendDate.ToString("HH:mm dd.MM.yyyy")</h4>
            </div>
        </div>
    }
    else
    {
        <div class="card my-5 text-center">
            <div class="card-header px-5">
                <br /> <br />
            </div>
            <div class="card-body px-5">
                <br />
                <h1>Сизда хеч қандай объект мавжуд эмас!</h1>
                <br />
            </div>
            <div class="card-footer px-5">
                <br /> <br />
            </div>
        </div>
    }
}
<script>
    // Sonni o'qib olish
    var numberElement = document.getElementById('formattedNumber');
    var number = parseInt(numberElement.innerText);

    // Formatlash va probel qo'shish
    var formattedNumber = number.toLocaleString('en').replace(/,/g, ' ');

    // HTML-ga chiqarish
    numberElement.innerText = formattedNumber;
</script>