

<div class="row">
    <div class="col-2">
    </div>
    <div class="col-7">
        <br />
        <br />
        <br />
        <br />

        <h1 class="text-center">Хатолик чиқди</h1>
        <h2 class="text-center">
            Қайта логин қилинг!
        </h2>
        <div class="d-grid gap-2 col-6 mx-auto">
            <a asp-controller="User" asp-action="LogOut" class="btn btn-warning"><h3 class="text-center"> Логинга ўтиш</h3></a>
        </div>
    </div>
    <div class="col-3">
    </div>
</div>