@using Application.Common.DTOs.UserDTOs;
@{
    Layout = "_Layout";
    ViewData["Title"] = "Register";
}
@model UserRegisterDto;
<div class="container ">
    <div class="row mt-3">
        <div class="col"></div>
        <div class="col-xs-12 col-md-8 px-5 py-1 text-light rounded-4 " style="background-color: rgb(44, 68, 64);">
            <h3 class="m-3 px-5"><strong>Ру́йхатдан у́тиш</strong></h3>
            <form method="post" asp-action="Register">
                <div class="mb-3">
                    <label for="FullName" class="form-label mx-3"><strong>Исм-фамилия</strong></label>
                    <input type="text" name="FullName" class="form-control" id="FullName" placeholder="Исм фамилийангизни киритинг...">
                    <span class="text-danger" asp-validation-for="FullName"></span>
                </div>
                <div class="mb-3">
                    <label for="Login" class="form-label mx-3"><strong>Логин</strong></label>
                    <input type="text" name="Login" class="form-control" id="Login" placeholder="Логин киритинг...">
                    <span class="text-danger" asp-validation-for="Login"></span>
                </div>
                <div class="mb-3">
                    <label for="PhoneNumber" class="form-label mx-3"><strong>Телефон номер</strong></label>
                    <input type="text" name="PhoneNumber" value="+998" oninput="formatNumber()" class="form-control" id="InputFormat" placeholder="Телефон номерингизни киритинг...">
                    <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                </div>
                <div class="mb-3">
                    <label for="Password" class="form-label mx-3"><strong>Парол</strong></label>
                    <input type="password" name="Password" class="form-control" id="Password" placeholder="Парол киритинг...">
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>
                <div class="mb-3">
                    <label for="ConfirmPassword" class="form-label mx-3"><strong>Паролни тасдиклаш</strong></label>
                    <input type="password" name="ConfirmPassword" class="form-control" id="ConfirmPassword" placeholder="Паролингизни кайта киритинг...">
                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                </div>
                <div class="row mt-3 mb-4 mx-2 ">
                    <div class="d-grid gap-2 col-12">
                        <button type="submit" class="btn btn-success px-5 py-2 my-2" onclick="submitFormatNumber()"><h5>Сақлаш</h5></button>
                    </div>
                    <div class="col-7">
                        <p class="my-2"><strong>Сизда аккаунт борми?<br /></strong> <a class="text-info" asp-controller="User" asp-action="Login"><strong>Логинга у́тиш</strong></a></p>
                    </div>
                </div>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
<script>
    function formatNumber() {
        var input = document.getElementById('InputFormat');
        var valueNumber = input.value.replace(/\D/g, '');
        var result = '';
        for (var i = 0; i < valueNumber.length; i++) {
            if (i == 0) {
                result += '+';
            }
            if (i == 3) {
                result += '-';
            }
            if (i == 5) {
                result += '-';
            }
            if (i == 8) {
                result += '-';
            }
            if (i == 10) {
                result += '-';
            }
            if (i < 12) {
                result += valueNumber[i];
            }
        }
        if (valueNumber.length == 0) {
            result = '+998';
        }
        input.value = result;
    }
    function submitFormatNumber() {
        var input = document.getElementById('InputFormat');
        var valueNumber = input.value.replace(/\D/g, '');
        var result = '+' + valueNumber;
        input.value = result;
    }
</script>