@using Application.Common.Models;
@{
    Layout = "_Layout";
}
@model UserUpdate;
@{
    if (ViewData["result"] is not null)
    {
        if ((int)ViewData["result"]! > 0)
        {
            <div class="row">
                <div class="col">
                </div>
                <div class="col-8 m-4">
                    <h3 style="background-color: rgb(132, 253, 184);" class="shadow mb-5  rounded text-center py-3" id="HtmlTeg">
                        Маьлумотлар муваффақиятли ўзгарди!
                    </h3>
                </div>
                <div class="col"></div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col">
                </div>
                <div class="col-8 m-4">
                    <h3 style="background-color: rgb(252, 113, 109);" class="shadow mb-5  rounded text-center py-3" id="HtmlTeg">
                        Маьлумотлар  ўзгармади!
                    </h3>
                </div>
                <div class="col"></div>
            </div>
        }
    }
}
<style>
    /* Styling the Form (Color, Padding, Shadow) */
    form {
        background-color: #fff;
        max-width: 670px;
        margin: 50px auto;
        padding: 30px 20px;
        box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    }

    /* Styling form-control Class */
    .form-control {
        text-align: left;
        margin-bottom: 25px;
    }

        /* Styling form-control Label */
        .form-control label {
            display: block;
            margin-bottom: 10px;
        }

        /* Styling form-control input,
                                    select, textarea */
        .form-control input,
        .form-control select,
        .form-control textarea {
            border: 1px solid #777;
            border-radius: 2px;
            font-family: inherit;
            padding: 10px;
            display: block;
            width: 95%;
        }

            /* Styling form-control Radio
                                    button and Checkbox */
            .form-control input[type="radio"],
            .form-control input[type="checkbox"] {
                display: inline-block;
                width: auto;
            }
</style>


<form id="form" asp-action="UpdateUser" method="post">

    <input type="hidden" id="Id" name="Id" value="@Model.Id" />

    <div class="form-control">
        <label for="FullName" id="FullName">
            Исм-фамилия
        </label>
        <input type="text" id="FullName" name="FullName"
               placeholder="Исм фамилийангизни киритинг..." />
        <span class="text-danger" asp-validation-for="FullName"></span>
    </div>


    <div class="form-control">
        <label for="Login" id="UserName">
            Логин
        </label>
        <input type="text" id="Login" name="Login"
               placeholder="Логин киритинг..." />
        <span class="text-danger" asp-validation-for="Login"></span>
    </div>


    <div class="form-control">
        <label for="PhoneNumber">
            Телефон номер
        </label>
        <input type="text" id="InputFormat" name="PhoneNumber" oninput="formatNumber()"
               value="+998" placeholder="Телефон номерингизни киритинг..." />
        <span class="text-danger" asp-validation-for="PhoneNumber"></span>
    </div>


    <div class="form-control">
        <label for="Password" id="Password">
            Парол
        </label>
        <input type="password" id="Password" name="Password"
               placeholder="Парол киритинг..." />
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>
    <div class="form-control">
        <label for="ConfirmedPassword" id="ConfirmedPassword">
            Паролни тасдиклаш
        </label>
        <input type="password" id="ConfirmedPassword" name="ConfirmedPassword"
               placeholder="Паролингизни кайта киритинг..." />
        <span class="text-danger" asp-validation-for="ConfirmedPassword"></span>
    </div>


    <div class="row">
        <div class="col-1"></div>
        <div class="col-5">
            <button type="submit" onclick="submitFormatNumber()" class="btn btn-success m-4 px-5">
                Сақлаш
            </button>
        </div>
        <div class="col-5 d-flex justify-content-end">
            <a asp-action="LogOut" asp-controller="User" class="btn btn-primary m-4 px-5">Орқага</a>
        </div>
        <div class="col-1"></div>
    </div>
</form>
<script>
    function formatNumber() {
        var input = document.getElementById('InputFormat');
        var valueNumber = input.value.replace(/\D/g, '');
        var result = '';
        for (var i = 0; i < valueNumber.length; i++) {
            if (i == 0) {
                result += '+';
            }
            if (i == 3) {
                result += '-';
            }
            if (i == 5) {
                result += '-';
            }
            if (i == 8) {
                result += '-';
            }
            if (i == 10) {
                result += '-';
            }
            if (i < 12) {
                result += valueNumber[i];
            }
        }
        if (valueNumber.length == 0) {
            result = '+998';
        }
        input.value = result;
    }
    function submitFormatNumber() {
        var input = document.getElementById('InputFormat');
        var valueNumber = input.value.replace(/\D/g, '');
        var result = '+' + valueNumber;
        input.value = result;
    }
</script>
